/*
  Font:       Arial, article's sections Times New Roman
  Header:     fixed on top of page
  Images:     SVGs in .navigation, set smaller
  Navigation: [#main .navigataion, #data .navigation]
*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

a, a:visited { color: blue; }
ul { margin: 0; padding: 0; list-style-type: none; }
p, ul, article header h1 { line-height: 150%; }


/* CONTAINER */

#atypon-header, #main, #data-header, #data { transition: .3s ease }

.page-main #atypon-header,
.page-main #main { transform: translateX(0); }
.page-main #data-header,
.page-main #data { transform: translateX(100%); }

.page-data { overflow-y: hidden; }
.page-data #atypon-header,
.page-data #main { transform: translateX(-100%); }
.page-data #data-header,
.page-data #data { transform: translateX(0); }


/* HEADER */

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  border-bottom: 1px solid black;
}
.header a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
#logo {
  background: black;
  color: white;
  text-transform: uppercase;
}
#data-header {
  border-bottom-color: grey;
}


/* NAVIGATION */

.navigation img { width: 20px; }
.navigation li { cursor: pointer; -webkit-tap-highlight-color: white; }

#data .navigation li {
  display: inline-block;
  width: 60px;
  font-size: .8em;
  text-align: center;
  opacity: .7;
}
#data .navigation li.active {
  border-bottom: 2px solid grey;
  font-weight: bold;
  opacity: 1;
}
#data .navigation li img {
  display: block;
  margin: 0 auto;
}


/* ARTICLE */

#article { padding: 10px; }
#article header { position: relative; margin-right: 40px; }
#article header h1 { margin-top: 0; }
#article section { font-family: 'Times New Roman', Times, serif; }
#authors li { display: inline; margin-right: 5px; }


/* RESOURCES */

#data a, #data a:visited { color: black; }
.resource { padding: 10px; display: none; }
.resource.active { display: block; }
#back { padding-left: 0; color: black; font-size: 1.2em; }
#back img { width: 20px; vertical-align: top; }

figure     { margin: 0; padding: 10px 0; border-bottom: 2px solid silver; }
figure img { width: 100%; }
figure figcaption { margin-top: 1em; line-height: 150%; }
figure:last-child { border: none; }

.listing section { margin-bottom: 20px; }
.listing h1 {
  border-bottom: 1px solid silver;
  padding-bottom: 5px;
  margin: 5px 0;
  font-size: 1em;
  color: grey;
}
.listing ul { line-height: 130%; }
.listing ul li { padding: 5px 0; }
