/*
  < 0, 1024 )
  + device:     phone and tablet
  + navigation: #main .navigation is right to article's header
                #data .navigation is hidden (for desktop only)
  + offscreen:  #data is offscreen holder of .resource(s)


  < 768, INF )
  + device:   tablet
  + article:  whitespace on sides (same applies for .resource)


  < 900, INF )
  + device:   bigger tablet
  + article:  even more whitespace on sides (same applies for .resource)


  < 1024, INF )
  + device:   desktop
  + navigation:  #data .navigation is used, #main .navigation is hidden
  + offscreen:   no more is used
*/

@media (max-width: 1023px) {
  #main, #data {
    overflow-y: auto;
    position: fixed;
    top: 60px;
    bottom: 0;
    background: white;
  }
  #main .navigation { position: absolute; top: 0; right: -45px; }
  #main .navigation li { padding: 7px; }
  #data .navigation { display: none; }
  #data .header { border-bottom-color: silver; }
}


@media (min-width: 768px) {
  #article, .resource {
    padding: 10px 10%;
    transition: .3s padding ease;
  }
}


@media (min-width: 900px) {
  #article, .resource {
    padding: 10px 15%;
  }
}


@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: stretch;
    width: 70%;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
  }
  #atypon-header, #main, #data { transform: translateX(0) !important }
  #article { padding: 10px; }
  #main .navigation, #data-header { display: none; }
  #main { overflow-y: auto; }
  #data {
    width: 260px;
    flex-shrink: 0;
    padding: 15px 0 0 15px;
    margin-top: 60px;
    font-size: .8em;
  }
  #data .navigation { position: fixed; top: -40px; }
  .resource { padding: 0 10px; overflow-y: auto; height: 100%; }
  figure:first-child { padding-top: 0; }
}
